/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*===============================================================================================================================================================*/

header {
    color: white;
    width: auto;
    height: 550px;
    background-image: url("../Images/head_background.jpg");
    background-position: center;
    background-size: cover;
}

body {
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: white;
}

.color-red {
    color: red;
}

#logo {
    position: absolute;
    width: 200px;
    padding: 16px 200px 15px 20px;
    margin-left: 200px;
    line-height: 70px;
    font-weight: 600;
    font-size: 20px;
}

.wrap-menu {
    position: relative;
}

.menu {
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 500px;
    font-weight: 600;
    font-size: 15px;
}

.menu ul {
    list-style: none;
    padding: 0px;
    margin: 0 0 0 130px;
}

.menu li {
    float: left;
}

.menu a {
    margin-left: 20px;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    color: white;
}

.by-phone,
.on-line {
    padding-left: 30px;
    margin-left: 100px;
}

.on-line {
    box-sizing: content-box;
    background-color: red;
    padding: 5px 10px;
}

.slogan {
    position: absolute;
    width: 200px;
    inline-size: auto;
    margin-left: 205px;
    margin-top: 220px;
    line-height: 70px;
    font-weight: 600;
    font-size: 15px;
}

h1 {
    position: absolute;
    display: inline-block;
    margin-left: 205px;
    margin-top: 240px;
    line-height: 70px;
    font-weight: 600;
    font-size: 25px;
    padding-top: 30px;
}

.button-2 {
    border: solid white 1px;
    color: white;
    text-decoration: none;
    padding: 7px 12px 7px 12px;
    position: absolute;
    margin-top: 340px;
    margin-left: 200px;
}

/*========================== Story section ========================== */

.our-story {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.story-head-1 {
    inline-size: auto;
    margin-left: 205px;
    margin-top: 50px;
    line-height: 30px;
    font-weight: 600;
    font-size: 12px;
    color: grey;
    align-self: flex-start;
}

.story-head-2 {
    inline-size: auto;
    padding-top: 10px;
    margin-left: 205px;
    margin-top: 6px;
    font-weight: 600;
    font-size: 25px;
    align-self: flex-start;
}

.story-content {
    inline-size: auto;
    padding-top: 10px;
    margin-left: 205px;
    margin-top: 1px;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
    color: grey;
    align-self: flex-start;
}

.smiling-chef {
    margin-left: 300px;
    display: inline;
    padding-top: 50px;
}

/* =================    OUR CHEFS ======================== */

.chefs {
    width: 100%;
    height: 700px;
    background-color: rgb(243, 240, 240);
    margin-top: 50px;
    display: grid;
    grid-template: 10% 7.5% 7.5% 60% 5% 5% 10% / repeat(3, 1fr);
    justify-items: center;
}

.chefs-head-1 {
    font-size: 30px;
    grid-area: 2 / 2 / 3 / 3;
}

.chefs-head-2 {
    color: grey;
    grid-area: 3 / 2 / 4 / 3;
}

.img-petra {
    grid-area: 4 / 1 / 5 / 2;
}

.img-lindsay {
    grid-area: 4 / 2 / 5 / 3;
}

.img-kin {
    grid-area: 4 / 3 / 5 / 4;
}

.managment {
    font-size: 25px;
    font-weight: bold;
}

.position {
    color: grey;
}

.petra {
    grid-area: 5 / 1 / 6 / 2;
}

.lindsay {
    grid-area: 5 / 2 / 6 / 3;
}

.kin {
    grid-area: 5 / 3 / 6 / 4;
}

.a {
    align-self: center;
    grid-area: 6 / 1 / 7 / 2;
}

.b {
    align-self: center;
    grid-area: 6 / 2 / 7 / 3;
}

.c {
    align-self: center;
    grid-area: 6 / 3 / 7 / 4;
}

/* ========= OUR MENUS ================= */

.menus {
    width: 100%;
    height: 950px;
    display: grid;
    grid-template: 10% 5% 5% 40% 40% / repeat(3, 1fr);
    justify-items: center;
}

.menus-head-1 {
    font-size: 30px;
    grid-area: 2 / 1 / 3 / 4;
}

.menus-p-1 {
    color: grey;
    grid-area: 3 / 1 / 4 / 4;
}

.menu-1 {
    grid-area: 4 / 1 / 5 / 2;
    justify-self: stretch;
    align-self: stretch;
}

.menu-2 {
    grid-area: 4 / 2 / 5 / 3;
    justify-self: stretch;
    align-self: stretch;
}

.menu-3 {
    grid-area: 4 / 3 / 5 / 4;
    justify-self: stretch;
    align-self: stretch;
}

.menu-4 {
    grid-area: 5 / 1 / 6 / 2;
    justify-self: stretch;
    align-self: stretch;
}

.menu-5 {
    grid-area: 5 / 2 / 6 / 3;
    justify-self: stretch;
    align-self: stretch;
}

.menu-6 {
    grid-area: 5 / 3 / 6 / 4;
    justify-self: stretch;
    align-self: stretch;
}

/* ================= TESTIMONIALS =========================== */

.testimonials {
    position: relative;
    /* display: inline-block; */
    text-align: center;
    background-image: url("../Images/background_testimonials.jpg");
    background-position: center;
    background-size: cover;
    width: auto;
    height: 550px;
    color: white;
}

.testimonials-h-1 {
    font-size: 30px;
    position: absolute;
    top: 10%;
    left: 45%;
}

.testimonials-q-1 {
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 19%;
}

.testimonials-p-1 {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 48%;
    left: 48%;
}

/* ============ FOOTER ============== */

.footer {
    width: 100%;
    height: 500px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.map {
    margin-left: 10%;
}

.contact-us {
    margin-right: 15%;
    width: 500px;
    height: 350px;
}

.contact-head-1 {
    font-size: 20px;
}

.form {
    border: 1px solid transparent;
}

.contact-head-1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.form-list {
    list-style: none;
}

.form-list li {
    padding-bottom: 5px;
}

.form-list li label {
    width: 120px;
    float: left;
    text-align: left;

}

.form-list input, textarea {
    border-top-style: none;
    border-left: none;
    border-right: none;
}

.send-message {
    box-sizing: content-box;
    background-color: red;
    padding: 5px 162px;
    color: white;
    text-decoration: none;

}


